.expositor-imagem {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 0)  {
    .expositor-image {
        width: 50%;
        height: 50%;
    }
}

@media screen and (min-width: 576px)  {
    .expositor-image {
        width: 25%;
        height: 25%;
    }
}